<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bienvenidos a mi sitio de prueba</h1>
    <ul>
        {% for i in "0123456789" %}
            <p>Linea : {{ i }}</p>
        {% endfor %}
    </ul>
</body>
</html>

